# Compiled Java class files
bin/
*.class

# IDE and Editor configurations
.idea/
*.iml
.vscode/
.settings/
.project
.classpath

# OS specific files
Thumbs.db
Desktop.ini
.DS_Store

# Temporary log files
*.log
